networks:
  public-proxy:
    external: true

services:
  headscale:
    image: headscale/headscale:latest-debug
    container_name: headscale
    volumes:
      - /var/lib/volumes/headscale/config:/etc/headscale
      - /var/lib/volumes/headscale/lib:/var/lib/headscale
      - /var/lib/volumes/headscale/run:/var/run/headscale
    # ports:
    # - "127.0.0.1:27896:8080"
    # - "127.0.0.1:9090:9090"
    command: serve
    restart: unless-stopped
    labels:
      # me.tale.headplane.target: headscale
      traefik.enable: "true"
      traefik.http.routers.headscale-router.rule: Host(`headscale.hmmmm.dev`)
      traefik.http.routers.headscale-router.entrypoints: web
      traefik.http.services.headscale-svc.loadbalancer.server.port: 8080
    networks:
      - traefik

  headscale-admin:
    image: goodieshq/headscale-admin:latest
    container_name: headscale-admin
    restart: unless-stopped
    networks:
      - traefik
    labels:
      traefik.enable: "true"
      traefik.http.services.headscale-admin.loadbalancer.server.port: 80
      traefik.http.routers.headscale-admin.rule: Host(`headscale.hmmmm.dev`) && PathPrefix(`/admin`)
      traefik.http.routers.headscale-admin.entrypoints: web
