networks:
  public-proxy:
    external: true

services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: unless-stopped
    networks:
      - public-proxy
    environment:
      TUNNEL_TOKEN: $TUNNEL_TOKEN
    command: tunnel run
