volumes:
  media:
    driver: local
    driver-opts:
      type: cifs
      device: ${SHARE_ADDR}
      o: "username=${SHARE_USER},password=${SHARE_PWD},vers=3.0,uid=1000,gid=1000,file_mode=0777,dir_mode=0777"

services:
  jellyfin:
    image: ghcr.io/linuxserver/jellyfin
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      # Set your timezone, e.g., America/New_York or Europe/Warsaw
      - TZ=Etc/UTC
      # Optional: Set the published server URL if behind a reverse proxy
      - JELLYFIN_PublishedServerUrl=${URL}
    volumes:
      # Map container paths to your host machine paths
      - /path/to/jellyfin/config:/config
      - /path/to/jellyfin/cache:/cache
      - /path/to/media:media # :ro means read-only
      # Add more media library mappings as needed
    ports:
      # Map host ports to container ports (HTTP port is 8096 by default)
      - 8096:8096
      # Optional ports for other services like DLNA (1900/udp) or HTTPS (8920)
      # - 8920:8920
      # - 7359:7359/udp
      # - 1900:1900/udp
    restart: unless-stopped
    # Optional: uncomment the lines below to enable hardware transcoding if you have a compatible GPU
    # devices:
    #   - /dev/dri:/dev/dri # Intel iGPU (VAAPI)
    #   - /dev/nvidiactl:/dev/nvidiactl # Nvidia (NVENC)
    #   - /dev/nvidia-uvm:/dev/nvidia-uvm
    #   - /dev/nvidia-modeset:/dev/nvidia-modeset
